* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #151515;
}

a{
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3.5em;
    color: #151515;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
color: #f9f8ff;
}

p,
li {
font-size: 1.1em;
color: #f9f8ff;
}


header,
footer {
    position: relative;
    background-color: white;
    padding: 10px 50px;
}


.maPage{
    display: block;
    flex-direction: row;
    /* background-color: rgb(169, 169, 29); */
    /* margin: 15px;
    padding: 30px; */
}




.wrapper{
    float: right;
    width: 70%;
    height: 900px;
    padding: 0px;
    background-color: aqua;
}


.wrapper h1{
    margin: 15px;
}



.navigation{
    display: grid;
    grid-template-rows: 1fr 1fr;
    float: left;
    width: 30%;
    height: 900px;
}

.navigation_top{
    background-color: rgb(0, 255, 106);
}

.navigation_bot{
    background-color: rgb(129, 46, 145);
}

.navigation_bot div{
    width: 300px ;
    margin: 50px;
    padding: 40px;
    text-align: center;
    background-color: #1c1e20;
    color: goldenrod;
    border: 0.2em solid goldenrod;
    border-radius: 20px;    
}



.product_list{
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 40px; 
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: bisque;
}



/* 
.product_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-template-columns: 1fr 1fr ;
    background-color: rgb(97, 97, 94);
    margin-left: 60px;
} */


.box{
    text-align: center;
    vertical-align: middle;
    background-color: #1c1e20;
    border: 0.2em solid goldenrod;
    border-radius: 20px;    
    overflow: hidden; 

}

.box:hover {
    opacity: 0.9;
}


.box h3{
    color: goldenrod;
  }
  
  
.box p{
    color: white;
  }


  /* .box img {
    position: relative;
    left: -20px; 
    width: 115%; 
    height: auto; 
} */


.extra{
    clear: both;
    width: 100%;
    background-color: #147FA9;
}



















/* nav a {
margin-left: 30px;
} */
  
/* @media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header nav img {
        margin-bottom: 20px;
    }

    header,
    footer {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        padding: 50px 20px 50px 20px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}
   */
  
  
/* .logo-ttuilier{
    margin-top: 10px;
    width: 15%;
    height: auto;
} */