<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../css/a_propos.css'>
    <link rel='stylesheet' href='../css/product.css'>
    <link rel='stylesheet' href='../css/style.css'>
    <title>Document</title>

    <script src='../../Controller/theme.js' defer></script>
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="index.html">Accueil</a>
                <a href="a_propos.html">À propos</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>À propos</h1>

        <div>
            <p>zfzshdgsgjpsogjdĝj
                Styling Flex Container
                flex-direction
                flex-wrap
                justify-content
                align-content
                align-items
                Designing Flex Items
                order
                align-self
                flex-grow
                flex-shrink
                flex-basis</p> 
        </div>
        
    </section>

</body>
</html>