<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../css/ratios_principaux.css'>
    <link rel='stylesheet' href='../css/style.css'>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="lien-icone">
                <img src="../pictures/logo.png" alt="Logo Tuilier Thomas" class="logo-ttuilier"/>
            </a>
            <div>
                <a href="index.html">Accueil</a>
                <a href="a-propos.html">À propos</a>
                <a href="projets.html">Projets</a>
            </div>
        </nav>
    </header>
    <h1>Ratios Principaux</h1>
    
    gyzdqgf
</body>
</html>