<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../css/composition_du_patrimoine.css'>
    <link rel='stylesheet' href='../css/product.css'>
    <link rel='stylesheet' href='../css/style.css'>
    <title>Document</title>

    <script src='../../Controller/theme.js' defer></script>
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="index.html">Accueil</a>
                <a href="a_propos.html">À propos</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>Composition du patrimoine</h1>

        <div class="list_of_graphs">
            <div class="graph" id="graph_1">Graphique 1 </div>
            <div class="graph" id="graph_2">Graphique 2 </div>
            <div class="graph" id="graph_3">Graphique 3 </div>
            <div class="graph" id="graph_4">Graphique 4 </div>
            <div class="graph" id="graph_5">Graphique 5 </div>
            <div class="graph" id="graph_6">Graphique 6 </div> 
        </div>
        
    </section>

</body>
</html>