<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel='stylesheet' href='../css/theme.css'>
    <link rel='stylesheet' href='../css/style.css'>
    <link rel='stylesheet' href='../css/index.css'>
    <link rel='stylesheet' href='../css/icons.css'>

    <script src='../../Controller/main.js' defer></script>
    <script src='../../Controller/option.js' defer></script>
    <script src='../../Controller/theme.js' defer></script>
    <script src='../../Controller/valeurs_importantes.js'></script>

</head>

<body>

    <header class="app_header">
        <div class="app_header-globalBar">

            <div class="icons-header-left">
                <!-- <a href="index.html"><span class="material-symbols-outlined">home</span></a> -->
                <a href="a_propos.html"><span class="material-symbols-outlined"> menu </span></a>
                <a href="index.html"><span class="material-symbols-outlined">home</span></a>
                <!-- <span class="material-symbols-outlined">arrow_back</span>
                <span class="material-symbols-outlined">arrow_forward</span> -->
                <h2>Mes comptes</h2>
            </div>
            
            <div class="icons-header-right">
                <!-- <a><span class="material-symbols-outlined">search</span></a> -->
                <!-- <a><span class="material-symbols-outlined">settings</span></a> -->
                <div>
                    <span class="material-symbols-outlined" id="toggle_on">toggle_on</span>
                    <span class="material-symbols-outlined" id="toggle_off">toggle_off</span>
                </div>
                
                <div id="option_button"><span class="material-symbols-outlined">more_horiz</span></div>
                <div><span class="material-symbols-outlined">output</span></div>
                <!-- <span class="material-symbols-outlined">favorite</span> -->
            </div> 
        </div>
    </header>

    

    
<section class="maPage">

    <div class="content">
        <div class="content__top_bar">
            <div class="box head-box" id="content__top_bar__element-1">

                <!-- <div class="head-box--left">
                    
                </div> -->

                <div class="head-box--left-top" >
                    <span class="material-symbols-outlined">trending_up</span>
                </div>

                <div class="head-box--left-bottom" id="head-box--patrimoine_net">
                    Patrimoine net
                </div>
                

                <div class="head-box--right">
                    <script>document.write(get_my_value("patrimoine_net"))</script>€
                </div>

                <!-- <span class="material-symbols-outlined rotate-icon">
                    arrow_back_ios
                    </span> -->
            </div>


            <div class="box head-box"id="content__top_bar__element-2">
                <div class="head-box--left-top">
                    <span class="material-symbols-outlined">bar_chart</span>
                </div>
                <div class="head-box--left-bottom" id="head-box--revenus">
                    Revenus
                </div>
                <div class="head-box--right">
                    <script>document.write(get_my_value("revenus"))</script>€
                </div>
            </div>


            <div class="box head-box" id="content__top_bar__element-3">
                <div class="head-box--left-top">
                    <span class="material-symbols-outlined">trending_down</span>
                </div>
                <div class="head-box--left-bottom" id="head-box--depenses">
                    Dépenses
                </div>
                <div class="head-box--right">
                    <script>document.write(get_my_value("depenses"))</script>€
                </div>
            </div>


            <div class="box head-box" id="content__top_bar__element-4">
                <div class="head-box--left-top">
                    <span class="material-symbols-outlined">query_stats</span>
                </div>
                <div class="head-box--left-bottom" id="head-box--taux_epargne">
                    Taux d'épargne
                </div>
                <div class="head-box--right">
                    <script>document.write(get_my_value("taux_epargne"))</script>€
                </div>
            </div>
        </div>



        <div class="content__middle-1">
            <div class="box" id="content__middle-1__element-1">
                <h2>Faire un rapport</h2>

                <p>Pour récuperer vos informations :</p>
                <div class="button-group">
                    <div class="middle-button"><div class="middle-button-back"><div class="middle-button-front">Mois</div></div></div>
                    <div class="middle-button"><div class="middle-button-back"><div class="middle-button-front">Global</div></div></div>
                </div>
                <!-- <div class="middle-button"><a class="bn31" href="/"><span class="bn31span">Mois</span></a></div>
                <div class="middle-button"><a class="bn31" href="/"><span class="bn31span">Global</span></a></div> -->

                <p>Pour personnaliser vos rapports :</p>
                <div class="button-group">
                    <div class="middle-button"><div class="middle-button-back"><div class="middle-button-front">Configurer les rapports</div></div></div>
                </div>
            </div>

            <div class="box" id="content__middle-1__element-2">
                <h2>Mes pages</h2>
                <div>
                    <a href="ratios_principaux.html">
                        <h3>Ratios Principaux</h3>
                        <p>Visualisation de mon patrimoine<br>et de mon épargne</p>
                    </a>
                </div>

                <div>
                    <a href="composition_du_patrimoine.html">
                        <h3>Composition du Patrimoine</h3>
                        <p>Visualisation de la composition du patrimoine</p>
                    </a>
                </div>
    
    
                <div >
                    <a href="revenus.html">
                        <h3>Revenus</h3>
                        <p>Visualisation de mes revenus</p>
                    </a>
                </div>
    
    
                <div class="box">
                    <a href="depenses.html">
                        <h3>Dépenses</h3>
                        <p>Visualisation de mes dépenses</p>
                    </a>
                </div>
                
            </div>

            <div class="box" id="content__middle-1__element-3">
                
            </div>
        </div>

        <div class="content__middle-2">
            <div class="box" id="content__middle-2__element-1">Patrimoine net</div>
        </div>


    </div>


    <div class="wrapper">

        <h1>Mes Comptes</h1>


        <div class="product_list">

            <div class="box">
                <a href="ratios_principaux.html">
                    <div class="box_pdg">
                
                        <div class="product__info">
                            <h3>Ratios Principaux</h3>
                            <p>Visualisation de mon patrimoine<br>et de mon épargne</p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="box">
                <a href="composition_du_patrimoine.html">
                    <div class="box_pdg">
                        <div class="product__info">
                            <h3>Composition du Patrimoine</h3>
                            <p>Visualisation de la composition du patrimoine</p>
                        </div>

                    </div>
                </a>
            </div>


            <div class="box" >
                    <a href="revenus.html">
                        <div class="box_pdg">
                        <div class="product__info">
                            <h3>Revenus</h3>
                            <p>Visualisation de mes revenus</p>
                        </div>
                        </div>
                    </a>
            </div>


            <div class="box">
                <a href="depenses.html">
                    <div class="box_pdg">
                    <div class="product__info">
                        <h3>Dépenses</h3>
                        <p>Visualisation de mes dépenses</p>
                    </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
    

    <div class="navigation">    
        <div class = "navigation_top">
            <div class="navigation__number">____ €</div>
                
                
        </div>

        <div class = "navigation_bot">

            <p>Pour récuperer vos informations :</p>
            <div>
                <h3>Faire un rapport</h3>
            </div>

            <p>Pour personnaliser vos rapports :</p>
            <div>
                <h3>Configurer les rapports</h3>
            </div>

            <br>
            <p>Votre base de donnée :</p>

            <div>
                <h3>Voir mes informations</h3>
            </div>

            <div>
                <h3>Ajouter un mois</h3>
            </div>
            
        </div>
        
    </div>

    <!-- <div class="extra">    
        <p>version : 0.1.2
        </p>
    </div> -->

    <!-- <div class = "option_page" id="option__page">
        <h2>Paramètres :</h2>
        <p>ceci est l'aide</p>
        
        <i class="gg-add-r"></i>
        <i class="gg-corner-up-left"></i>
        
        <i class="gg-file-add"></i>
        
    </div> -->
    

    <div class="options_bar">
        <!-- <div>
            <button id="help_button">Aide</button>
            
        </div> -->

        
        <div id="fond_sombre"></div>

        <div class = "option_page" id="option__page">
            <h2>Paramètres :</h2>
            <p>ceci est l'aide</p>
            
            <i class="gg-add-r"></i>
            <i class="gg-corner-up-left"></i>
            
            <i class="gg-file-add"></i>
        
        </div>
        <!-- <div id="changer-theme">
            <button>Changer de Thème</button>
        </div>

        <div>
            <button id="changer-theme-1">Thème 1</button>
            <button id="changer-theme-2">Thème 2</button>
            <button id="changer-theme-dark_blue">Thème dark_blue</button>
        </div>
         -->

        
    </div>
    

    <!-- <footer>
        <p>version : 0.1.2</p>
    </footer> -->
</section>  


    
</body>
</html>