<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../css/style.css'>
    <link rel='stylesheet' href='../css/index.css'>

</head>

<body>

    <header>
        <nav>
            <!-- <a href="index.html" class="lien-icone">
                <img src="../pictures/logo.png" alt="Logo Tuilier Thomas" class="logo-ttuilier"/>
            </a> -->
            <div>
                <a href="index.html">Accueil</a>
                <a href="a_propos.html">À propos</a>
            </div>
        </nav>
    </header>

    
<section class="maPage">

    <div class="wrapper">

        <h1>Mes Comptes</h1>


        <div class="product_list">

            <div class="box">
                <!-- <div class="page_ratios_principaux"> -->
                    <a href="ratios_principaux.html">
                        <div class="box_pdg">
                    
                            <div class="product__info">
                                <h3>Ratios Principaux</h3>
                                <p>Visualisation de mon patrimoine<br>et de mon épargne</p>
                            </div>
                            <!-- <div class="box_pdg"> -->
                                
                            
                                <!-- <div class="product__image">
                                    <img src="../products/formations/formation_jody_cavalie/pictures/logo.jpg">
                                </div> -->

                                <!-- <div class="product__info">
                                    
                                </div>
                            -->
                            <!-- </div> -->
                        </div>
                    <!-- </div> -->
                </a>
            </div>


            <div class="box">
                <!-- <div class="page_composition_du_patrimoine"> -->
                    <a href="composition_du_patrimoine.html">
                        <div class="box_pdg">
                            
                            <!-- <div class="product__image">
                                <img src="../products/formations/formation_jody_cavalie/pictures/logo.jpg">
                            </div> -->

                            <div class="product__info">
                                <h3>Composition du Patrimoine</h3>
                                <p>Visualisation de la composition du patrimoine</p>
                            </div>

                        </div>
                    </a>
                <!-- </div> -->
            </div>


            <div class="box" >
                <!-- <div class="page_revenus"> -->
                    <a href="revenus.html">
                        <div class="box_pdg">
                        
                    
                        <!-- <div class="product__image">
                            <img src="../products/formations/formation_jody_cavalie/pictures/logo.jpg">
                        </div> -->

                        <div class="product__info">
                            <h3>Revenus</h3>
                            <p>Visualisation de mes revenus</p>

                        </div>

                        </div>
                    </a>
                <!-- </div> -->
            </div>


            <div class="box">
                <!-- <div class="page_depenses"> -->
                    <a href="depenses.html">
                        <div class="box_pdg">
                        
                    
                        <!-- <div class="product__image">
                            <img src="../products/formations/formation_jody_cavalie/pictures/logo.jpg">
                        </div> -->

                        <div class="product__info">
                            <h3>Dépenses</h3>
                            <p>Visualisation de mes dépenses</p>

                        </div>

                        
                        </div>
                    </a>
                <!-- </div> -->
            </div>


        </div>
    </div>
    

    <div class="navigation">    
        <div class = "navigation_top">
            <div class="navigation__number">____ €</div>
                
                
        </div>

        <div class = "navigation_bot">

            <p>Pour récuperer vos informations :</p>
            <div>
                <h3>Faire un rapport</h3>
            </div>

            <p>Pour personnaliser vos rapports :</p>
            <div>
                <h3>Configurer les rapports</h3>
            </div>

            <br>
            <p>Votre base de donnée :</p>

            <div>
                <h3>Voir mes informations</h3>
            </div>

            <div>
                <h3>Ajouter un mois</h3>
            </div>
            
        </div>
        
    </div>

    <div class="extra">    
        <p>version : 0.1.2
        </p>
    </div>


    <div class="options_bar">
        <div>
            <button id="help_button">Aide</button>
            
        </div>

        <button id="changer-theme">Changer de Thème</button>

        <div class = "help_page" id="option__help">
            <p>ceci est l'aide</p>
        </div>
    </div>
    <script src='../../Controller/main.js'></script>
    <script src='../../Controller/option.js'></script>
    <script src='../../Controller/theme.js'></script>

</section>  


    
</body>
</html>