

.content{
   padding: 30px;
}

.box{
   border-radius: 10px;
   background-color: var(--box-my-theme);
}


/* .box div{
   align-items: center;
   text-align: center;
} */

/* ///////////////////////////////////////// */

.content__top_bar{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 100px;
   gap: 20px;
   margin-bottom: 20px;
   
}

/* .head-box{
   display: grid;
    grid-template-rows: 1fr 1fr; 
} */

.head-box--left-top{
   position: relative;
   width: 110px;
   height: 70%;
   /* background-color: rgb(18, 41, 33); */
}

.head-box--left-top span{ 
   font-size: 80px;
   font-variation-settings: 'OPSZ' 80;
   padding-left: 40px;
}


.head-box--left-bottom{
   position: relative;
   color: white;
   
   /* background-color: blanchedalmond; */
}

#head-box--patrimoine_net{
   padding-left: 20px;
}

#head-box--revenus{
   padding-left: 40px;
}

#head-box--depenses{
   padding-left: 40px;
}

#head-box--taux_epargne{
   padding-left: 20px;
}

.head-box--right{
   position: relative;
   color: white;
   /* background-color: aqua; */
   width: 230px;
   top: -70px;
   right: -190px;
   font-size: 2.5em;
   text-align: center;

}

/* ///////////////////////////////////////// */

.content__middle-1{
   display: grid;
   grid-template-columns: 1fr 1fr 2fr;
   grid-template-rows: 500px;
   gap: 20px;
   margin-bottom: 20px;
   margin-right: 20px;
}


#content__middle-1__element-1{
   padding: 25px;
   text-align: center;
   align-items: center;
}

#content__middle-1__element-1 h2{
   color: var(--primary-my-theme);
   margin-bottom: 20px;
}


#content__middle-1__element-1 a{
   /* position: relative;
   top :30px;
   right: -115px; */
   margin-bottom: 20px;
   text-align: center;
   /* margin: 20px; */
   /* margin-left: 80px; */
   background-color: antiquewhite;
}

.content__middle-1__element-3{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
   margin: 10px;
}

.sous_box{
   background-color: antiquewhite;
}



/* ///////////////////////////////////////// */


.content__middle-2{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 400px;
}



/* h1{
    background-color: grey;
 } */
 .wrapper{
   margin-top: 60px;
   float: right;
   width: 1000px;
   margin-right: 380px; 
   height: 920px;
   padding: 0px;
   /* background-color: var(--ma-couleur-tertiaire-mon-theme);
   border-right: 0.15em solid var(--ma-couleur-bordure-mon-theme);
   border-left: 0.15em solid var(--ma-couleur-bordure-mon-theme); */

}


.wrapper h1{
   margin: 15px;
   color: var(--primary-my-theme);
   /* background-color: var(--ma-couleur-secondaire-mon-theme); */
   font-size: 4em;
   text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
}




 .navigation{
   margin-left: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr;
   float: left;
   /* width: 30%; */
   width: 15%;
   height: 920px;
   /* border-right: 0.15em solid var(--ma-couleur-bordure-mon-theme);
   border-left: 0.15em solid var(--ma-couleur-bordure-mon-theme); */
}

.navigation_top{
   background-color: var(--box-my-theme);
   border: 0.15em solid var(--box-my-theme);
   height: 150px;
}

.navigation_bot{
   text-align: center;
   padding-top: 40px;
   /* border-top: 0.15em solid var(--ma-couleur-bordure-mon-theme); */
   height: 735px;
   /* background-color: var(--ma-couleur-secondaire-mon-theme); */
}

.navigation_bot div{
   margin: 15px;
   padding: 20px;
   text-align: center;
   background-color: #1c1e20;

   color: var(--primary-my-theme);
   border: 0.2em solid var(--box-my-theme);
   /* color: goldenrod;
   border: 0.2em solid goldenrod; */
   border-radius: 20px;    
}



.product_list{
   height: 700px;
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr;
   gap: 40px; 
   padding: 30px;
   margin-left: 40px;
   margin-right: 40px;
   /* background-color: bisque; */
}


/* ///////////////////////////////// */

 /* .box{
   background-color: var(--ma-couleur-bouton-mon-theme);
   border: 0.2em solid var(--ma-couleur-element_2-mon-theme);
   border-radius: 20px;    
   overflow: hidden; 
} */

.box a{
   text-decoration: none;
}

.box_pdg{
   /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 325px;
   width: 406px;
}

.box_pdg a{
   text-decoration: none;
}

.box_pdg div{
   text-align: center;
}

.box_pdg:hover {
   opacity: 0.8;
}


.box_pdg h3{
   color: var(--primary-my-theme);
 }
 
 
.box_pdg p{
   color: white;
 }

/* ///////////////////////////////// */


.extra{
   position: absolute;
   z-index: 2;
   clear: both;
   width: 100%;
   top: 948px;
   background-color: rgb(23,00,46);
}

.extra p{
   padding-left: 20px;
}


.navigation__number{
   background-color: rgb(23,00,46);
   color:white;
   font-size: 4em;
   padding: 10px;
   margin: 10px;
   margin-top: 20px;
   text-align: center;
}




.button-group{
   margin-top: 20px;
   font-size: 1.2em;
}


.middle-button{
   display: flex;
   justify-content: center;
   align-items: center;
}

.middle-button-back{
   margin-bottom: 20px;
   padding: 0px;
   width: 60%;
   border-radius: 40px;
   background: linear-gradient(to right, var(--secondary-my-theme) 0%, var(--primary-my-theme) 100%);
}

.middle-button-front{
   padding: 20px ;
   border-radius: 40px;
   background-color: var(--background-my-theme);
   color:  var(--primary-my-theme);
   border: 0.2em solid var(--primary-my-theme);
}

.middle-button-front:hover{
   background: transparent;
   transition: background 0.5s ;
   color:  white;
}



#content__middle-1__element-2{
   text-align: center;
   padding-top: 20px;
   
}

#content__middle-1__element-2 h3{
   color: var(--primary-my-theme);

}

#content__middle-1__element-2 h2{
   padding-bottom: 0px;
   color: var(--primary-my-theme);
}

#content__middle-1__element-2 div{
   background-color: var(--dark-my-theme);
   margin: 20px;
   padding: 10px;
   border-radius: 20px;
}

#content__middle-1__element-2 div:hover{
   opacity: 0.8;
}


