 /* h1{
    background-color: grey;
 } */
 .wrapper{
   float: right;
   width: 1000px;
   margin-right: 380px; 
   height: 920px;
   padding: 0px;
   background-color: var(--ma-couleur-tertiaire-theme1);
   border-right: 0.15em solid rgb(97, 97, 97);
   border-left: 0.15em solid rgb(97, 97, 97);
   /* background-color: aqua; */
}


.wrapper h1{
   margin: 15px;
   color: var(--ma-couleur-element_1-theme1);
   /* background-color: var(--ma-couleur-secondaire-theme1); */
   font-size: 4em;
   text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
}




 .navigation{
   margin-left: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr;
   float: left;
   /* width: 30%; */
   width: 15%;
   height: 920px;
   border-right: 0.15em solid rgb(97, 97, 97);
   border-left: 0.15em solid rgb(97, 97, 97);
}

.navigation_top{
   background-color: var(--ma-couleur-secondaire-theme1);
   height: 150px;
}

.navigation_bot{
   text-align: center;
   padding-top: 40px;
   border-top: 0.2em solid #5a5a5a;
   height: 735px;
   background-color: var(--ma-couleur-secondaire-theme1);
}

.navigation_bot div{
   margin: 15px;
   padding: 20px;
   text-align: center;
   background-color: #1c1e20;

   color: var(--ma-couleur-element_1-theme1);
   border: 0.2em solid var(--ma-couleur-element_2-theme1);
   /* color: goldenrod;
   border: 0.2em solid goldenrod; */
   border-radius: 20px;    
}



.product_list{
   height: 700px;
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr;
   gap: 40px; 
   padding: 30px;
   margin-left: 40px;
   margin-right: 40px;
   /* background-color: bisque; */
}


/* ///////////////////////////////// */

 .box{
   /* display: flex; */
   /* justify-content: center;
   align-items: center; */
   background-color: var(--ma-couleur-principale-theme1);
   border: 0.2em solid var(--ma-couleur-element_2-theme1);
   border-radius: 20px;    
   overflow: hidden; 
}

.box a{
   text-decoration: none;
}

.box_pdg{
   /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 325px;
   width: 406px;
}

.box_pdg a{
   text-decoration: none;
}

.box_pdg div{
   text-align: center;
}

.box_pdg:hover {
   opacity: 0.8;
}


.box_pdg h3{
   color: var(--ma-couleur-element_1-theme1);
 }
 
 
.box_pdg p{
   color: white;
 }

/* ///////////////////////////////// */


.extra{
   position: absolute;
   z-index: 2;
   clear: both;
   width: 100%;
   top: 948px;
   background-color: rgb(23,00,46);
}

.extra p{
   padding-left: 20px;
}


.navigation__number{
   background-color: rgb(23,00,46);
   color:white;
   font-size: 4em;
   padding: 10px;
   margin: 10px;
   margin-top: 20px;
   text-align: center;
}