
:root {

    --icon-color: #ff0000;

    /* theme clair */

    --ma-couleur-principale-theme1: #151515;;
    --ma-couleur-secondaire-theme1: #282828;
    --ma-couleur-tertiaire-theme1: #363636;

    --ma-couleur-bordure-theme1: #6c6c6c;

    --ma-couleur-bouton-theme0: #282828;

    --ma-couleur-patrimoine-theme1: rgb(116, 173, 234);
    --ma-couleur-depenses-theme1 : rgb(224, 118, 73);
    --ma-couleur-ratios-theme1 : rgb(135, 110, 217);
    --ma-couleur-revenus-theme1 : rgb(129, 198, 83);

    --ma-couleur-element_1-theme1: goldenrod;
    --ma-couleur-element_2-theme1: goldenrod;

    /* theme sombre */

    --ma-couleur-principale-theme0: #823737;;
    --ma-couleur-secondaire-theme0: #b22525;
    --ma-couleur-tertiaire-theme0: #842a2a;

    --ma-couleur-bordure-theme0: #6c6c6c;

    --ma-couleur-bouton-theme0: #282828;

    --ma-couleur-patrimoine-theme0: rgb(116, 173, 234);
    --ma-couleur-depenses-theme0 : rgb(224, 118, 73);
    --ma-couleur-ratios-theme0 : rgb(135, 110, 217);
    --ma-couleur-revenus-theme0 : rgb(129, 198, 83);

    --ma-couleur-element_1-theme0: goldenrod;
    --ma-couleur-element_2-theme0: goldenrod;


    /* theme dark_blue */

    --ma-couleur-principale-dark_blue: #313e54;
    --ma-couleur-secondaire-dark_blue: #23334d;
    --ma-couleur-tertiaire-dark_blue: #313e54;

    --ma-couleur-bouton-dark_blue : #788eb3;

    --ma-couleur-bordure-dark_blue: #2b2e2f00;

    --ma-couleur-patrimoine-dark_blue: rgb(116, 173, 234);
    --ma-couleur-depenses-dark_blue : rgb(224, 118, 73);
    --ma-couleur-ratios-dark_blue : rgb(135, 110, 217);
    --ma-couleur-revenus-dark_blue : rgb(129, 198, 83);

    --ma-couleur-element_1-dark_blue: #34e0e9;
    --ma-couleur-element_2-dark_blue: #34e0e9;


    /* theme 1 */
    --ma-couleur-principale-theme1: #151515;;
    --ma-couleur-secondaire-theme1: #282828;
    --ma-couleur-tertiaire-theme1: #363636;

    --ma-couleur-bordure-theme1: #6c6c6c;

    --ma-couleur-bouton-theme1: #282828;

    --ma-couleur-patrimoine-theme1: rgb(116, 173, 234);
    --ma-couleur-depenses-theme1 : rgb(224, 118, 73);
    --ma-couleur-ratios-theme1 : rgb(135, 110, 217);
    --ma-couleur-revenus-theme1 : rgb(129, 198, 83);

    --ma-couleur-element_1-theme1: goldenrod;
    --ma-couleur-element_2-theme1: goldenrod;


    /* --ma-couleur-principale-theme2: #000000; */
    --ma-couleur-principale-theme2: rgb(128, 37, 37);
    --ma-couleur-secondaire-theme2: #141414;
    --ma-couleur-tertiaire-theme2: #282828;
    --ma-couleur-element_1-theme2: #320064;
    --ma-couleur-element_2-theme2: #230046;

    /* Mon theme : */
    
    --ma-couleur-principale-mon-theme: var(--ma-couleur-principale-theme1);
    --ma-couleur-secondaire-mon-theme: var(--ma-couleur-secondaire-theme1);
    --ma-couleur-tertiaire-mon-theme:  var(--ma-couleur-tertiaire-theme1);

    --ma-couleur-bordure-mon-theme:  var(--ma-couleur-bordure-theme1);

    --ma-couleur-bouton-mon-theme: var(--ma-couleur-bouton-theme1);

    --ma-couleur-patrimoine-mon-theme : var(--ma-couleur-patrimoine-theme1);
    --ma-couleur-depenses-mon-theme : var(--ma-couleur-depenses-theme1);
    --ma-couleur-ratios-mon-theme : var(--ma-couleur-ratios-theme1);
    --ma-couleur-revenus-mon-theme : var(--ma-couleur-revenus-theme1);

    --ma-couleur-element_1-mon-theme: var(--ma-couleur-element_1-theme1);
    --ma-couleur-element_2-mon-theme: var(--ma-couleur-element_2-theme1);
}

/* body.thème-1 {
    background-color: var(--ma-couleur-principale-theme1);
    color: var(--ma-couleur-secondaire-theme1);
}

body.thème-2 {
    background-color: var(--ma-couleur-principale-theme2);
    color: var(--ma-couleur-secondaire-theme2);
} */
  


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: var(--ma-couleur-principale-mon-theme);
}

a{
    text-decoration:none;
    color : white; 
    padding-right: 20px;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3.5em;
    
    color: #151515;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
color: #f9f8ff;
}

p,
li {
font-size: 1.1em;
color: #f9f8ff;
}


/* header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
} */
header,
footer {
    position: fixed;
    width: 100%;
    background-color: #282828;
    padding: 0px 0px;
    z-index: 1000; 
}


footer{
    border-top: 0.15em solid var(--ma-couleur-bordure-mon-theme);
    bottom: 0;
}

.app_header{
   border-bottom: 0.15em solid var(--ma-couleur-bordure-mon-theme);
}

.app_header-globalBar{
    /* background-color: #34e0e9; */
    width: 99%;
    text-align: center;
}


.app_header-globalBar a{
    text-decoration: none;
    padding: 0px 0px;
}

.icons-header-left{
    /* background-color: var(--ma-couleur-tertiaire-mon-theme); */
    float: left;
    padding: 7px 7px;
    display: flex;
    flex-direction: row;
}

.icons-header-left h2{
    padding-left:25px ;
    size: 4px;
}


.icons-header-right{
    /* background-color: var(--ma-couleur-tertiaire-mon-theme); */
    float: right;
    padding: 7px 7px;
}

span{
    margin-left: 25px;
}






.maPage{
    padding-top: 40px;
    display: block;
    flex-direction: row;
    /* background-color: rgb(169, 169, 29); */
    /* margin: 15px;
    padding: 30px; */
}









/* 
.product_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-template-columns: 1fr 1fr ;
    background-color: rgb(97, 97, 94);
    margin-left: 60px;
} */












.options_bar{
    margin-top: 45px;
    padding-top:40px ;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 50px;
    height: 940px;
    background-color: var(--ma-couleur-tertiaire-mon-theme);
    border-left: 0.15em solid var(--ma-couleur-bordure-mon-theme);
}

.help_page.visible {
    display: block;
}

.help_page {
    display: none;
    background-color: rgb(7, 39, 39);
    padding: 50px;
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 50px;
    left: -1500px;
}



/* nav a {
margin-left: 30px;
} */
  
/* @media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header nav img {
        margin-bottom: 20px;
    }

    header,
    footer {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        padding: 50px 20px 50px 20px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}
   */
  
  
/* .logo-ttuilier{
    margin-top: 10px;
    width: 15%;
    height: auto;
} */


