


* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2em;
    /* background-color: var(--background-my-theme); */
    /* background-image: linear-gradient(45deg, #29323c, #485563); */
    background-image: linear-gradient(45deg, #6a11cb, #2575fc);
    /* background-color: beige; */
    background-size: 100% 100%;
    background-position: center;
}

a{
    text-decoration:none;
    color : white; 
    /* padding-right: 20px; */
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3.5em;
    
    color: #151515;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
color: #f9f8ff;
}

p,
li {
font-size: 1.1em;
color: #f9f8ff;
}


/* object{
    background-color: antiquewhite;  
} */


/* section{
    position: absolute;
    top: 0%;
    z-index: 0; 
} */

/* header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
} */
header,
footer {
    position: fixed;
    width: 100%;
    background-color: var(--box-my-theme);
    padding: 0.3em 0em;
    z-index: 1000; 
}


footer{
    /* border-top: 0.15em solid var(--ma-couleur-bordure-mon-theme); */
    display: none;
    bottom: 0;
}

/* #app_header{
   border-bottom: 0.15em solid var(--ma-couleur-bordure-mon-theme);
} */

#app_header-globalBar{
    /* background-color: #34e0e9; */
    width: 99%;
    text-align: center;
}


#app_header-globalBar a{
    text-decoration: none;
    padding: 0px 0px;
}

.icons-header-left{
    /* background-color: var(--ma-couleur-tertiaire-mon-theme); */
    float: left;
    padding: 7px 7px;
    display: flex;
    flex-direction: row;
}

.icons-header-left h2{
    padding-left:25px ;
    size: 4px;
}


.icons-header-right{
    /* background-color: var(--ma-couleur-tertiaire-mon-theme); */
    float: right;
    padding: 7px 7px;
    display: flex;
    flex-direction: row;
}

#app_header span{
    margin-left: 25px;
}


#toggle_on.visible {
    display: none;
}

#toggle_on {
    display: block;
}


#toggle_off.visible {
    display: block;
}

 #toggle_off {
    display: none;
}


.maPage{
    padding-top: 50px;
    display: block;
    flex-direction: row;
    /* background-color: rgb(169, 169, 29); */
    /* margin: 15px;
    padding: 30px; */
}









/* 
.product_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-template-columns: 1fr 1fr ;
    background-color: rgb(97, 97, 94);
    margin-left: 60px;
} */












.options_bar{
    /* margin-top: 45px;
    padding-top:40px ; */
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 10px;
    width: 50px;
    height: 940px;
    background-color: var(--ma-couleur-tertiaire-mon-theme);
    border-left: 0.15em solid var(--ma-couleur-bordure-mon-theme); */
}


#fond_sombre.visible {
    display: block;
}

#fond_sombre{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    
    right: 0;
    background-color: #00000076;
    z-index: 900;
}

.option_page.visible {
    display: block;
}

.option_page {
    display: none;
    background-color: rgb(7, 39, 39);
    padding: 50px;
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 50px;
    left: -1600px; 
    z-index: 1000;
}



/* nav a {
margin-left: 30px;
} */
  
/* @media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header nav img {
        margin-bottom: 20px;
    }

    header,
    footer {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        padding: 50px 20px 50px 20px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}
   */
  
  
/* .logo-ttuilier{
    margin-top: 10px;
    width: 15%;
    height: auto;
} */




 .bn31 {
    background-image: linear-gradient(to right, var(--secondary-my-theme) 0%, var(--primary-my-theme) 100%);
    border-radius: 40px;
    
    /* box-sizing: border-box; */
    color: var(--primary-my-theme);
    /* display: block;  */
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    align-items: center;
    width: 7em;
    z-index: 2;
    /* justify-content: center; */
  } 

  


  .bn31 span{
    
    border: 0.2em solid var(--primary-my-theme);
  }

  .bn31:hover {
    color: #fff;
  }
  
  .bn31 .bn31span {
    align-items: center;
    
    background: var(--dark-my-theme);
    border-radius: 40px;
    display: block;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ;
    width: 50%;
  }
  
  .bn31:hover .bn31span {
    background: linear-gradient(to right, var(--secondary-my-theme) 0%, var(--primary-my-theme) 100%);
    background: transparent;
  }  



  /* .bn31 {
    background-image: linear-gradient(to right, var(--secondary-themeNuit) 0%, var(--primary-themeNuit) 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: var(--primary-themeNuit);
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}

.bn31:hover {
    color: #fff;
}

.bn31 .bn31span {
    background: var(--dark-themeNuit);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.bn31:hover .bn31span {
    background: transparent;
} */


.center{
    width: 100%;
}