
:root {
    --ma-couleur-principale-theme1: #151515;;
    --ma-couleur-secondaire-theme1: #282828;
    --ma-couleur-tertiaire-theme1: #363636;
    --ma-couleur-element_1-theme1: goldenrod;
    --ma-couleur-element_2-theme1: goldenrod;


    /* --ma-couleur-principale-theme2: #000000; */
    --ma-couleur-principale-theme2: white;
    --ma-couleur-secondaire-theme2: #141414;
    --ma-couleur-tertiaire-theme2: #282828;
    --ma-couleur-element_1-theme2: #320064;
    --ma-couleur-element_2-theme2: #230046;

  }

/* body.thème-1 {
    background-color: var(--ma-couleur-principale-theme1);
    color: var(--ma-couleur-secondaire-theme1);
}

body.thème-2 {
    background-color: var(--ma-couleur-principale-theme2);
    color: var(--ma-couleur-secondaire-theme2);
} */
  


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: var(--ma-couleur-principale-theme1);
}

a{
    text-decoration:none;
    color : white; 
    padding-right: 20px;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 3.5em;
    
    color: #151515;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
color: #f9f8ff;
}

p,
li {
font-size: 1.1em;
color: #f9f8ff;
}


header,
footer {
    position: relative;
    background-color: #282828;
    padding: 10px 50px;
}

header{
   border-bottom: 0.15em solid rgb(97, 97, 97);
}


.maPage{
    display: block;
    flex-direction: row;
    /* background-color: rgb(169, 169, 29); */
    /* margin: 15px;
    padding: 30px; */
}









/* 
.product_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-template-columns: 1fr 1fr ;
    background-color: rgb(97, 97, 94);
    margin-left: 60px;
} */












.options_bar{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 50px;
    height: 940px;
    background-color: var(--ma-couleur-tertiaire-theme1);
    border-left: 0.15em solid rgb(97, 97, 97);
}

.help_page.visible {
    display: block;
}

.help_page {
    display: none;
    background-color: rgb(7, 39, 39);
    padding: 50px;
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 50px;
    left: -1500px;
}



/* nav a {
margin-left: 30px;
} */
  
/* @media screen and (max-width: 996px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header nav img {
        margin-bottom: 20px;
    }

    header,
    footer {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        padding: 50px 20px 50px 20px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}
   */
  
  
/* .logo-ttuilier{
    margin-top: 10px;
    width: 15%;
    height: auto;
} */