
:root {

    --icon-color: #ff0000;


    /* theme nuit */

    --primary-themeNuit: #7216eb;
    --secondary-themeNuit: #390a77;
    --box-themeNuit: #191C24;
    --icon-color-themeNuit: #7216eb;
    --light-themeNuit: #6C7293;
    --background-themeNuit: #000000;


    --ma-couleur-patrimoine-themeNuit: rgb(116, 173, 234);
    --ma-couleur-depenses-themeNuit : rgb(224, 118, 73);
    --ma-couleur-ratios-themeNuit : rgb(135, 110, 217);
    --ma-couleur-revenus-themeNuit : rgb(129, 198, 83);


    /* A enlever */

    --dark-themeNuit: #000000;
    --ma-couleur-principale-themeNuit: #000000;;
    --ma-couleur-secondaire-themeNuit: #191C24;
    --ma-couleur-tertiaire-themeNuit: #6C7293;

    --ma-couleur-bordure-themeNuit: #6c6c6c;

    --ma-couleur-bouton-themeNuit: #191C24;

    

    --ma-couleur-element_1-themeNuit: #7216eb;
    --ma-couleur-element_2-themeNuit: #7216eb;


    /* theme clair */

    /* --primary-themeNuit: #7216eb;
    --secondary-themeNuit: #390a77;
    --box-themeNuit: #191C24;
    --light-themeNuit: #6C7293;
    --dark-themeNuit: #000000; */


    --ma-couleur-patrimoine-themeNuit: rgb(116, 173, 234);
    --ma-couleur-depenses-themeNuit : rgb(224, 118, 73);
    --ma-couleur-ratios-themeNuit : rgb(135, 110, 217);
    --ma-couleur-revenus-themeNuit : rgb(129, 198, 83);

    --ma-couleur-principale-themeJour: #ffffff;;
    --ma-couleur-secondaire-themeJour: #9e9e9e;
    --ma-couleur-tertiaire-themeJour: #363636;

    --ma-couleur-bordure-themeJour: #6c6c6c;

    --ma-couleur-bouton-themeJour: #282828;

    --ma-couleur-patrimoine-themeJour: rgb(116, 173, 234);
    --ma-couleur-depenses-themeJour : rgb(224, 118, 73);
    --ma-couleur-ratios-themeJour : rgb(135, 110, 217);
    --ma-couleur-revenus-themeJour : rgb(129, 198, 83);

    --ma-couleur-element_1-themeJour: rgb(5, 101, 5);
    --ma-couleur-element_2-themeJour: rgb(5, 101, 5);




    /* theme clair */

    --ma-couleur-principale-theme1: #151515;;
    --ma-couleur-secondaire-theme1: #282828;
    --ma-couleur-tertiaire-theme1: #363636;

    --ma-couleur-bordure-theme1: #6c6c6c;

    --ma-couleur-bouton-theme1: #282828;

    --ma-couleur-patrimoine-theme1: rgb(116, 173, 234);
    --ma-couleur-depenses-theme1 : rgb(224, 118, 73);
    --ma-couleur-ratios-theme1 : rgb(135, 110, 217);
    --ma-couleur-revenus-theme1 : rgb(129, 198, 83);

    --ma-couleur-element_1-theme1: goldenrod;
    --ma-couleur-element_2-theme1: goldenrod;

    /* theme sombre */

    --ma-couleur-principale-theme0: #823737;;
    --ma-couleur-secondaire-theme0: #b22525;
    --ma-couleur-tertiaire-theme0: #842a2a;

    --ma-couleur-bordure-theme0: #6c6c6c;

    --ma-couleur-bouton-theme0: #282828;

    --ma-couleur-patrimoine-theme0: rgb(116, 173, 234);
    --ma-couleur-depenses-theme0 : rgb(224, 118, 73);
    --ma-couleur-ratios-theme0 : rgb(135, 110, 217);
    --ma-couleur-revenus-theme0 : rgb(129, 198, 83);

    --ma-couleur-element_1-theme0: goldenrod;
    --ma-couleur-element_2-theme0: goldenrod;


    /* theme dark_blue */

    --ma-couleur-principale-dark_blue: #313e54;
    --ma-couleur-secondaire-dark_blue: #23334d;
    --ma-couleur-tertiaire-dark_blue: #313e54;

    --ma-couleur-bouton-dark_blue : #788eb3;

    --ma-couleur-bordure-dark_blue: #2b2e2f00;

    --ma-couleur-patrimoine-dark_blue: rgb(116, 173, 234);
    --ma-couleur-depenses-dark_blue : rgb(224, 118, 73);
    --ma-couleur-ratios-dark_blue : rgb(135, 110, 217);
    --ma-couleur-revenus-dark_blue : rgb(129, 198, 83);

    --ma-couleur-element_1-dark_blue: #34e0e9;
    --ma-couleur-element_2-dark_blue: #34e0e9;


    /* theme 1 */
    --ma-couleur-principale-theme1: #151515;;
    --ma-couleur-secondaire-theme1: #282828;
    --ma-couleur-tertiaire-theme1: #363636;

    --ma-couleur-bordure-theme1: #6c6c6c;

    --ma-couleur-bouton-theme1: #282828;

    --ma-couleur-patrimoine-theme1: rgb(116, 173, 234);
    --ma-couleur-depenses-theme1 : rgb(224, 118, 73);
    --ma-couleur-ratios-theme1 : rgb(135, 110, 217);
    --ma-couleur-revenus-theme1 : rgb(129, 198, 83);

    --ma-couleur-element_1-theme1: goldenrod;
    --ma-couleur-element_2-theme1: goldenrod;


    /* --ma-couleur-principale-theme2: #000000; */
    --ma-couleur-principale-theme2: rgb(128, 37, 37);
    --ma-couleur-secondaire-theme2: #141414;
    --ma-couleur-tertiaire-theme2: #282828;
    --ma-couleur-element_1-theme2: #48008f;
    --ma-couleur-element_2-theme2: #48008f;

    /* Mon theme : */
    
    --ma-couleur-principale-mon-theme: var(--ma-couleur-principale-theme1);
    --ma-couleur-secondaire-mon-theme: var(--ma-couleur-secondaire-theme1);
    --ma-couleur-tertiaire-mon-theme:  var(--ma-couleur-tertiaire-theme1);

    --ma-couleur-bordure-mon-theme:  var(--ma-couleur-bordure-theme1);

    --ma-couleur-bouton-mon-theme: var(--ma-couleur-bouton-theme1);

    --ma-couleur-patrimoine-mon-theme : var(--ma-couleur-patrimoine-theme1);
    --ma-couleur-depenses-mon-theme : var(--ma-couleur-depenses-theme1);
    --ma-couleur-ratios-mon-theme : var(--ma-couleur-ratios-theme1);
    --ma-couleur-revenus-mon-theme : var(--ma-couleur-revenus-theme1);

    --ma-couleur-element_1-mon-theme: var(--ma-couleur-element_1-theme1);
    --ma-couleur-element_2-mon-theme: var(--ma-couleur-element_2-theme1);
}

/* body.thème-1 {
    background-color: var(--ma-couleur-principale-theme1);
    color: var(--ma-couleur-secondaire-theme1);
}

body.thème-2 {
    background-color: var(--ma-couleur-principale-theme2);
    color: var(--ma-couleur-secondaire-theme2);
} */
  